<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
          "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.cxxk.FullView</string>
  <key>CFBundleName</key>
  <string>FullView</string>
  <key>CFBundleExecutable</key>
  <string>FullView</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UIRequiresFullScreen</key>
  <true/>
  <key>UILaunchStoryboardName</key>
  <string>LaunchScreen</string>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
  </dict>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category-games</string>
  <key>Preferred Frame Rate Range</key>
  <dict>
    <key>Minimum Frame Rate</key>
    <integer>30</integer>
    <key>Maximum Frame Rate</key>
    <integer>120</integer>
    <key>Preferred Frame Rate</key>
    <integer>120</integer>
  </dict>
  <key>UIDeviceFamily</key>
  <array>
    <integer>1</integer>
    <integer>2</integer>
  </array>
</dict>
</plist>
